.home-container{
	background-color: #F4F4F4;
	padding-bottom: 176rpx;
	
	.home-banner{
		width: 750rpx;
		height: 568rpx;
			
		&__item{
			width: 750rpx;
			height: 568rpx;
		}
	}
	
	.home-styles{
		width: 714rpx;
		margin: 18rpx 0 0 0;
		padding: 24rpx 0 46rpx 32rpx;
		background-color: white;
		
		&__title{
			border-left: 6rpx #FFA200 solid;
			padding-left: 16rpx;
			height: 32rpx;
			font-size: 32rpx;
			line-height: 32rpx;
			font-weight: bold;
			color: #333333;
		}
		
		&__list-container{
			height: 198rpx;
			width: 714rpx;
			margin-top: 36rpx;
		}
		
		&__list{
			height: 198rpx;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;
		}
		
		&__item{
			margin-right: 22rpx;
			height: 198rpx;
			width: 140rpx;
			
			&__image{
				height: 140rpx;
				width: 140rpx;
				display: block;
				border-radius: 6rpx;
			}
			
			&__name{
				display: block;
				margin-top: 24rpx;
				font-size: 28rpx;
				line-height: 28rpx;
				height: 28rpx;
				width: 140rpx;
				text-align: center;
			}
			
		}
	}
	
	.home-commodities{
		background-color: white;
		width: 750rpx;
		margin: 20rpx 0 0 0;
		padding: 22rpx 32rpx;
		position: relative;
		
		&__title{
			border-left: 6rpx #FFA200 solid;
			padding-left: 16rpx;
			height: 32rpx;
			font-size: 32rpx;
			line-height: 32rpx;
			font-weight: bold;
			color: #333333;
		}
		
		&__more{
			position: absolute;
			left: 606rpx;
			top: 38rpx;
			font-size: 24rpx;
			color: #999999;
			
			&__icon{
				height: 20rpx;
				width: 10rpx;
				display: inline-block;
				vertical-align: middle;
				margin-left: 6rpx;
			}
		}
		
		&__body{
			margin: 31rpx 4rpx 0 2rpx;
			width: 680rpx;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		
		
		
	}
	
	.home-commodity{
		background-color: #F4F4F4;
		width: 212rpx;
		height: 212rpx;
		margin-bottom: 18rpx;
	}
	// .home-commodity{
	// 	margin-top: 22rpx;
	// 	margin-bottom: 44rpx;
	// 	position: relative;
		
	// 	&__name{
	// 		width: 678prx;
	// 		text-align: center;
	// 		font-size: 28rpx;
	// 		height: 40rpx;
	// 		line-height: 40rpx;
	// 	}
		
	// 	&__more{
	// 		position: absolute;
	// 		right: 0;
	// 		top: 4rpx;
	// 		font-size: 24rpx;
	// 		color: #999999;
			
	// 		&__icon{
	// 			height: 20rpx;
	// 			width: 10rpx;
	// 			display: inline-block;
	// 			vertical-align: middle;
	// 			margin-left: 6rpx;
	// 		}
	// 	}
		
	// 	&__list{
	// 		width: 678rpx;
	// 		margin-top: 24rpx;
	// 		display: flex;
	// 		align-items: flex-start;
	// 		justify-content: space-between;
	// 	}
		
	// 	&__item{
	// 		width: 212rpx;
	// 		background-color: #F7F7F7;
	// 	}
		
	// }	
		
}