.information-container{
	background-color: #F4F4F4;
	height:1536rpx;
	padding-top:16rpx;
}

.information-body{
	background-color:white;
	padding-left: 32rpx;
	padding-right: 32rpx;
}

.information-item{
	height:104rpx;
	border-bottom: 2rpx solid #F4F4F4;
	font-size: 28rpx;
	line-height: 104rpx;
	display: flex;
	align-items: center;
}

.information-title{
	margin-left: 22rpx;
	margin-right: 92rpx;
}

.information-image{
	width: 62rpx;
	height: 62rpx;
}

.information-check{
	margin-right: 48rpx;
}

.information-changePhone{
	width: 160rpx;
	height: 50rpx;
	font-size: 24rpx;
	background-color: #FFFFFF;
	color: #333333;
	border-radius: 6rpx;
	border: 2rpx solid #CDCDCD;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 22rpx;
}
.information-button{
	width: 642rpx;
	height: 90rpx;
	margin-top: 24rpx;
	margin-left: 54rpx;
	font-size: 32rpx;
	color: #FFFFFF;
	border-radius: 6rpx;
	background-color: #333333;
}