page{
	background-color: #F4F4F4;
}

.mine-container{
	width: 750rpx;
	
	.mine-info{
		width: 750rpx;
		height: 348rpx;
		padding-top: 192rpx;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		
		&__photo{
			width: 124rpx;
			height: 124rpx;
			border-radius: 62rpx;
			margin-left: 50rpx;
		}
	}
}