.tab-bar-container{
	position: fixed;
	z-index: 100;
	height: 176rpx;
	padding: 0 98rpx;
	bottom: 0;
	left: 0;
	width: 558rpx;
	background-color: #FFFFFF;
	box-shadow: 0rpx -6rpx 20rpx 10rpx rgba(0,0,0,0.05);
		
	.tab-bar-content{
		width: 100%;
		height: 98rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
			
		.tab-bar-item{
			color: #999999;
			width: 49rpx;
			height: 49rpx;
			padding-top: 8rpx;
				
			&--middle{
				height: 82rpx;
				width: 82rpx;
				display: block;
			}
			
			// &--selected{
			// 	height: 72rpx;
			// 	font-size: 20rpx;
			// 	color: #333333;
			// }
			
			// &__icon{
			// 	width: 40rpx;
			// 	height: 40rpx;
			// 	display: block;
			// }
			
			// &__text{
			// 	line-height: 28px;
			// 	display: block;
			// }
				
		}
	}
}
	
.add-panel{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(48rpx) brightness(110%);
	
	&__close{
		position: absolute;
		width: 48rpx;
		height: 48rpx;
		bottom: 128rpx;
		left: 351rpx;
	}
	
	&__selections{
		position: absolute;
		bottom: 354rpx;
		height: 232rpx;
		left: 96rpx;
		width: 558rpx;
		display: flex;
		justify-content: space-between;
	}
	
	&__selection{
		width: 176rpx;
		
		&__button{
			width: 176rpx;
			height: 176rpx;
			border-radius: 70rpx;
			box-shadow: 0 6rpx 20rpx rgba(0, 0, 0, 0.15);
		}
		
		&__text{
			margin-top: 16rpx;
			width: 176rpx;
			height: 40rpx;
			text-align: center;
			font-size: 28rpx;
			line-height: 40rpx;
		}
	}
	
	
}